@media only screen and (min-device-width: 768px) and (max-device-width:992px) {
    #NavBarText ul {
        padding-left: 700px;
        font-size: 13px;
        font-family: 'Libre Baskerville', serif;
    }
    #NavBarText ul li a.nav-link {
        color: black;
        margin-right: 50px;
        margin-bottom: 30px;
    }
    .nav-link.btn.btn-light {
        font-size: 12px;
        border: 1px solid #00dbd0;
        border-radius: 10px 10px;
    }
    .send-message h2 {
        margin-left: 550px;
        width: 100%;
    }
    .text-contact {
        width: 100%;
        margin-left: 550px;
    }
    .formular {
        margin-left: 500px;
    }
    .btn.btn-light-submit {
        font-size: 14px;
        color: white;
        border: 1px solid #00dbd0;
        background-color: #00dbd0;
        border-radius: 10px 10px;
        margin-left: 780px;
    }
    .footer img {
        width: 1965px;
        height: 580px;
    }
    .container-footer {
        margin-top: -175px;
        margin-left: 210px;
        color: white;
        width: 180%;
    }
    .col-lorem {
        margin-top: -60px;
        margin-left: 10px;
    }
    .col-information {
        margin-left: 10px;
        margin-top: -36px;
    }
    .col-aboutus {
        margin-left: 50px;
        margin-top: -75px;
    }
    .col-icons {
        margin-top: -78px;
        margin-left: 190px;
    }
}